span {
  padding: 2px;
  color: #f00;
  font-size: small;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid #f00;
}

select[focused="true"] {
  border: 1px solid #f00;
}

input:invalid[focused="true"] ~ span {
  display: block;
}

.general-error,
.sku-error,
.empty-field-error,
.attribute-descriprtion {
  display: block;
}
