.header {
  display: flex;
  justify-content: space-around;
}
.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  flex-basis: 240px;
  align-items: center;
}
.products {
  display: flex;
}
